RewriteEngine On

# Si el archivo o carpeta no existe...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo a index.php pasando el parámetro "url"
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]